* {
  font-family: Helvetica;

}

#header-img {
  float: left;
}

#product-img {
  background-color: green;
  margin: 0;
  padding:  5% 10%;
  width: 80%;

}

#nav-bar  {width: 100%;
list-style-type: none;
margin: 0;
  color: white;
  background-color: green;
  position: sticky;
  top: 0;
  padding: 0;
  overflow: auto;
  }

  .nav {text-align: right;
  float: left;
  
  padding: 1em 2em;
  background-color: green;
  width: 20%;
  
  
  }

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 25px;
font-weight: bold;
font-family: Helvetica;
}
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(121, 29%, 89%);
  align: center;

}

.info {
  margin: 1em;
  padding: 0 3em;
  align-content: center;
  
}

.info div {
  width: 65%;
  margin: 4em;
  padding: 4em;
  align-content: center;

}

#what {
  margin: 0;
  padding: 1em 0 1em 0;
  width: 100%;
  text-align: center;
background-color: green;
font-weight: normal;
align-content: center;
}
#what h1 {
  align-content: center;

}

#info {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1em;
  
  align: center;
  font-weight: normal;
  color: green;
  text-align: center;
  
}
.features {
  text-align: left;
  margin: auto;
}
#features {
  margin: auto;
  padding: 1px 0;
  width: auto;
  height: auto;
  
  
  color: green;
  font-size: 4em;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  
  writing-mode: vertical-rl;
  text-orientation: upright;
text-transform: uppercase;
text-shadow: -15px 9px 16px hsl(121, 20%, 70%);

}
.features li {margin: 1em;

}
#purchase {
  display: block;
}
#purchase_h1 {
  color: green;
  width: 40%;
  display: block;
  margin: 1em auto;
}

#purchase ul { 
list-style-type: none;
width: 75%;
}
#purchase img {
  width: 70%;
  float: top;
  padding-bottom: 1em
}
.purchase_img {
  align: vertical;
}
product_purchase {
  width: 100%;
  display: flex;
  float: left;
}

.item {
  margin:10px;
  border-color: green;
  text-align: center;
  width: 250px;
  font-size: 20px;
  float: left;
display: in-line;
background-color: green;
color: white;
}

.video {
  background-color: green;
  color: white;
  width: 100%;
  margin: 0;
  padding: 1em 0 2em;
  object-fit: center;
}
.video h1 {
  margin: 1em;
}
iframe {
  margin: 0 3em;
}




.features {
display: center;
}
.updates_form{
  background-color: green;
  color: white;
  margin: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
}
#email {
  width: 25em;
  height: 2em;
  box-sizing: border-box;
  font-size: 0.75em;
}
#submit {
font-size: 0.75em;
color: green;
background-color: hsl(121, 29%, 89%);
border-radius: 20px;
}
@media screen and (max-width:500px) {
 #nav-bar .nav {
   display: block;
    float: none;
    width: 100%;
  }
#features h1 {
  writing-mode: horizantal-tb;
  font-size: 25px
  }
#video {
  width: 300px;
  height: 169px;
}
}